@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
}

body{
    font-family: 'Montserrat';
}


#logo{
    width: 80px;
    height:70px;
}

.conn,
.conn:active,
.conn:visited,
.conn:focus {
    border-color: #0b65ab;
    border-radius: 5px;
    
}


.conn:hover{
    background-color: #0b65ab;
    color: white;
    border-radius: 5px;
}

.inscr,
.inscr:hover,
.inscr:active,
.inscr:visited,
.inscr:focus {
    background-color: #0b65ab;
    border-radius: 5px;
    border-color: #0b65ab;
}

#inscription{
    margin-left:10%;
}

.socials{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.footer{
    padding-top: 20px;
}

.centerText{
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    
}

.box{
    background-color: #0b65ab;
}

.para{
    display: block;
}